<p>pagina in html + bootstrap</p>
<!-- src/app/products/products.component.html -->
<div class="container mt-5">
  <h2>Prodotti: {{ categoria }}</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let p of prodotti">
      <div class="card mb-4">
        <img class="card-img-top" [src]="'assets/images/' + p.immagine" alt="{{p.nome}}">
        <div class="card-body">
          <h5 class="card-title">{{ p.nome }}</h5>
          <p class="card-text"> {{ p.prezzo | currency:'EUR' }} </p>
          <button class="btn btn-primary mb-3" routerLink="/">
            <i class="bi bi-arrow-left"></i>Torna alla Home</button>
        </div>
      </div>
    </div>
  </div>
</div>
