<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Corsi per Docente</title>
</head>
<body>
    <h2>Seleziona un docente</h2>

    <form th:action="@{/view/docenti/corsi}" method="post">
        <select name="docenteId" required>
            <option th:each="docente : ${docenti}" 
            th:value="${docente.id}" 
            th:text="${docente.nome}">Nome Docente</option>
        
        </select>
        <button type="submit">Visualizza Corsi</button>
    </form>
<p><a th:href="@{home}">Torna alla Home</a></p>
</body>
</html>
